html, body, div, span, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

html, body {
  width: 100%;
  height: 100%;
}

ol, ul {
  list-style: none;
}

h1, h2, h3, h4, h5, h6, th {
  font-weight: normal;
}

a, a:hover {
  text-decoration: none;
  color: inherit;
}

* {
  font-family: "Helvetica", sans-serif;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-text-size-adjust: none;
}

*:hover, *:focus, *:active {
  outline: 0;
  -webkit-tap-highlight-color: transparent;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

tt, em {
  font-family: "Helvetica", sans-serif;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button,
input[type=button],
input[type=text],
input[type=number],
textarea {
  outline: none;
  font-family: "Helvetica", sans-serif;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input::-ms-clear {
  display: none;
}

input::-ms-reveal {
  display: none;
}

input[type=password]::-webkit-textfield-decoration-container {
  visibility: hidden;
}

.nofloat:after {
  content: "";
  display: table;
  clear: both;
}

/* ::-webkit-scrollbar{ 
	width:10px;
	height: 10px;
	background-color:#f1f1f1;
} */
::-webkit-scrollbar-thumb {
  background-color: #c1c1c1;
  border: 3px #f1f1f1 solid;
  border-radius: 10px;
  cursor: pointer;
  -webkit-transition: background 0.5s linear;
  transition: background 0.5s linear;
}

*:hover::-webkit-scrollbar-thumb {
  background-color: #a9a9a9;
}

::-webkit-scrollbar-corner {
  background-color: #f1f1f1;
}

img {
  width: 100%;
  vertical-align: middle;
}

img {
  width: 100%;
  vertical-align: middle;
}

body {
  background: #000 url(../images/bg.webp) no-repeat center top/1920px auto;
}
@media screen and (max-width: 1920px) {
  body {
    background-position: left top;
  }
}

.indexBox {
  min-height: 100vh;
  max-width: 1200px;
  padding: 0 10px;
  margin: auto;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 1100px) {
  .indexBox {
    padding: 30px 10px;
    flex-direction: column;
    justify-content: center;
  }
}
.mainImg {
  width: 65%;
  animation: float 3s infinite linear;
}
@media screen and (max-width: 1100px) {
  .mainImg {
    width: 100%;
    max-width: 700px;
    margin-bottom: 30px;
  }
}

.msgBox {
  width: 35%;
  margin-left: -3%;
}
@media screen and (max-width: 1100px) {
  .msgBox {
    width: calc(100% - 20px);
    max-width: 450px;
    display: flex;
    flex-direction: column;
    margin-left: 0;
  }
}
.msgBox .qrBox {
  text-align: center;
  color: #fff;
  font-size: 14px;
}
@media screen and (max-width: 1100px) {
  .msgBox .qrBox {
    margin: 30px 0 10px;
  }
}
.msgBox .qrBox .code {
  width: 90px;
  margin: 0 auto 7px;
}
.msgBox .mainTitle {
  margin: 30px 0;
}
@media screen and (max-width: 1100px) {
  .msgBox .mainTitle {
    order: -1;
    margin: 0;
  }
}
.msgBox .btnBox {
  width: 100%;
  padding: 10px;
  display: flex;
}
@media screen and (max-width: 500px) {
  .msgBox .btnBox {
    flex-direction: column;
    align-items: center;
  }
}
.msgBox .btnBox .btn {
  padding: 13px 0;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  letter-spacing: 0.5px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  border: 1px solid #ccc;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
  opacity: 0.7;
  transition: 0.5s;
}
@media (any-hover: hover) {
  .msgBox .btnBox .btn:hover {
    opacity: 1;
  }
}
@media screen and (max-width: 500px) {
  .msgBox .btnBox .btn {
    min-width: 200px;
  }
}
.msgBox .btnBox .btn + .btn {
  margin-left: 8px;
}
@media screen and (max-width: 500px) {
  .msgBox .btnBox .btn + .btn {
    margin: 10px 0 0;
  }
}
.msgBox .btnBox .icon {
  width: 25px;
  height: 25px;
  margin-right: 5px;
  background: no-repeat center;
}
.msgBox .btnBox .icon.desktop {
  background-size: 22px 22px;
  background-image: url(../images/desktop.svg);
}
.msgBox .btnBox .icon.android {
  background-size: 20px 20px;
  background-image: url(../images/googlePlay.svg);
}
.msgBox .btnBox .icon.ios {
  background-image: url(../images/apple.svg);
}
.msgBox .btnBox p {
  width: 65px;
  text-align: center;
}

@keyframes float {
  0%, 100% {
    transform: translateX(0);
  }
  50% {
    transform: translateY(-10px);
  }
}/*# sourceMappingURL=all.css.map */